html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

iframe {
    flex: 1;
    width: 100%;
    min-height: 400px;
    margin-top: 80px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
}
